@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Moon+Dance&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: poppins;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 2px 0;
    text-align: center;
}
header h1{
    font-family: Moon Dance;
    font-size: 50px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    color: rgb(179, 177, 177);
    text-decoration: none;
    font-size: 10px;
}

.resources {
    text-align: center;
    padding: 50px 20px;
    background-color: #fffdd6;
    flex: 1;
}

.resource-category {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.resource-category h3 {
    color: #333;
    margin-bottom: 10px;
    border-bottom: 2px solid #2196f3;
    display: inline-block;
    padding-bottom: 5px;
}

.resource-category ul {
    list-style: none;
    padding: 0;
}

.resource-category ul li {
    font-size: 16px;
    margin: 8px 0;
    text-align: left;
    padding-left: 15px;
    position: relative;
}

.resource-category ul li::before {
    content: "•";
    color: #2196f3;
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 3px;
}

.resource-category a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.resource-category a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 0px;
}

footer p {
    margin: 5px 0;
    font-size: 16px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #f5f6f475;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}
footer a{
    text-decoration: none;
    color:#f7de00;
}

.footer-links a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 600px) {
    nav ul {
        /* color: rgb(179, 177, 177);
        text-decoration: none;
        font-size: 10px; */
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
    footer p {
        margin: 5px 0;
        font-size: 12px;
    }
    .fa{
        font-size: 16px;
    }
}
